<%- include("./partials/header") %>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">About</h1>
	  <p id= "about" class="lead">“Photography for me is not looking, it’s feeling. If you can’t feel what you’re looking at, then you’re never going to get others to feel anything when they look at your pictures.”
— Don McCullin</p>
	  <hr class="my-4">
	  <p>Photographs play an important role in everyone’s life – they connect us to our past, they remind us of people, places, feelings, and stories. They can help us to know who we are. For people who grew up in children’s institutions, photographs are especially important – sadly, this is because for so many people, the photographs most of us take for granted, don’t exist. </p>
	  <a class="btn btn-primary btn-lg" href="/pictures" role="button">Learn more</a>
	</div>
</div>
<%- include("./partials/footer") %>