<%- include("./partials/header") %>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Contact Us</h1>
	  <p id= "about" class="lead">“Taking pictures is savoring life intensely, every hundredth of a second”</p>
	  <hr class="my-4">
	  <p>To hear regularly from us during the week follow us on
		  <a href = "https://www.facebook.com/">Facebook</a>
		  
		</p>
	  <a class="btn btn-primary btn-lg" href="/pictures" role="button">Learn more</a>
	</div>
</div>
<%- include("./partials/footer") %>